button {
    background-color: #CCD1D1;
    border: 1px solid #00ff7f;
    border-radius: 1%;
    width: 60px;
    cursor: pointer;
    transition: 0.3s ease;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #00ff7f;
    }

    50% {
        transform: scale(1.1);
        background-color: bisque;
    }

    100% {
        transform: scale(1);
        background-color: rgb(253, 143, 0);
    }
}

button:hover {
    background-color: #7FFD;
    border-color: #FFFF00;
}